<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
<body>
<table>
    <tr>
        <td>Mã khách hàng</td>
        <td>Tên khách hàng</td>
        <td>Số điện thoại</td>
        <td>Mã địa chỉ</td>
        <td>Cập nhật</td>
        <td>Xóa</td>
    </tr>
    <tr th:each="customer: ${list}">
        <td th:text="${customer.getCusid()}"></td>
        <td th:text="${customer.getCusname()}"></td>
        <td th:text="${customer.getPhone()}"></td>
        <td th:text="${customer.getAid()}"></td>
        <td><a th:href="@{/ks/update-cus(id = ${customer.getCusid()})}">update</a></td>
        <td><a th:href="@{/ks/delete-cus(id = ${customer.getCusid()})}">delete</a></td>
    </tr>
</table>
</body>
</html>